<!DOCTYPE html>
<html>
<head>
  <title>Alert</title>
  <link rel="stylesheet" href="css/css/login.css">
  <link rel="stylesheet" href="css/bootstrap.min.css">
  <link rel="stylesheet" href="css/all.css">
  
</head>

<body>
  <div class="container">
    <div class="row">
      <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
        <div class="card card-signin my-5">
          <div class="card-body">
            <textarea id="w3mission" rows="4" cols="40">
			</textarea>
    		 <button type="button">Forward alert</button> 
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>


  <script src="js/jquery.slim.min.js"></script>
  <script src="js/bootstrap.bundle.min.js"></script>
  
</body>
</html>